fastapi
uvicorn[standard]
python-multipart
python-dotenv
langchain-google-genai
langchain-community
langchain-core
langchain-classic
langchain-experimental
faiss-cpu
rank-bm25
sentence-transformers
ddgs
pypdf